/*font-family: 'El Messiri', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    background: #162831;
}
a{
    text-decoration: none;
}
img{
    vertical-align: top;
}
ul, li, ul{
    list-style: none;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.__container{
    max-width: 1326px;
    margin: 0 auto;
    padding: 0 15px;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn{
    padding: 9px 15px;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
}

h2.title{
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    color: #FFFFFF;
    display: inline-block;

    margin-bottom: 100px;
    padding-left: 73px;
    padding-right: 73px;

    background: url("icon/seans/left.png") no-repeat left 45%,
                url("icon/seans/right.png") no-repeat right 45%;
}
section:not(:last-child){
    margin-bottom: 150px;
}

/*----------------HEADER---------------*/
.header__wrap{
    padding-top: 30px;
    padding-bottom: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__icon{
    width: 60px;
    height: 60px;
}
.header__menu{
    display: flex;
    gap: 50px;
}
a.header__link{
    display: inline-block;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
}
a.header__link:hover{
    text-decoration: underline;
    opacity: 0.8;
}
.header__btn{
    color: #FFFFFF;
    background: #018ABE;
}
.header__btn:hover{
    background: #52c0e7;
    color: #fff6f6;
}
/*----------------HEADER---------------*/



/*----------------MAIN---------------*/
.main__wrap{
    padding: 136px 0 210px 0;

    background: url("img/main/unsplash_S-llxYh3GzI.jpg") no-repeat center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
}
h2.main__title{
    margin-bottom: 40px;
    background: url("icon/main/left.png") no-repeat left 45%,
                url("icon/main/right.png") no-repeat right 45%;
}
.title-main{
    max-width: 580px;
    margin: 0 auto;

    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    font-family: 'El Messiri';
}
/*----------------MAIN---------------*/


/*----------------SEANSES---------------*/
.seanses{
    text-align: center;
}

.seanses__wrap{
    display: flex;
}

.seanses__item{
    margin-right: 24px;
    width: 33.33%;
}
.seanses__item:last-child{
    margin-right: 0;
}
.seanses__item:not(:first-child){
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.seanses__item img{
    border-radius: 12px;
    transition: all 0.3s ease-in;
}
.seanses__item-top,
.seanses__item-bottom{
    padding-bottom: 62%;
}
.seanses__item-big{
    height: 100%;
}
figure{
    position: relative;
    overflow: hidden;
}
figure:hover>img{
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}
figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: start;
    max-width: 336px;
}
figcaption > a{
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    display: block;
}
figcaption > a:hover{
    text-decoration: underline;
    opacity: 0.8;
}

.capt-big{
    bottom: 50px;
    left: 50px;
}
.capt-small{
    bottom: 30px;
    left: 40px;
}
/*----------------SEANSES---------------*/


/*----------------REVIEWS---------------*/
.reviews__container{
    max-width: 1766px;
    padding: 0 15px;
    
    text-align: center;
}

.reviews__items{
    display: flex;
    margin-bottom: 60px;
}
.reviews__item{
    padding: 40px 45px;
    background: #018ABE;
    border-radius: 10px;
    width: 33.333%;
    margin-right: 118px;

    opacity: 0.4;
    text-align: left;
    cursor: pointer;
    transition: 0.8s;
}
.reviews__item:last-child{
    margin-right: 0;
}
.reviews__item-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

    margin-bottom: 15px;
}
.reviews__item-text{
    font-weight: 300;
    font-size: 10px;
    line-height: 140%;
    color: #FFFFFF;

    margin-bottom: 15px;
}
.reviews__item-text:last-child{
    margin-bottom: 0;
}

.reviews__item:hover{
    transform: scale(127%, 122%);
    transition: 0.8s;
    opacity: 1;
}
.reviews__item:hover ~ .reviews__item-title{
    font-size: 20px;
}
.reviews__item:hover ~ .reviews__item-text{
    font-size: 14px;
}

.reviews__pages{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.reviews__pages-prev,
.reviews__pages-curent,
.reviews__pages-next{
    width: 16px;
    height: 16px;

    background: #FFFFFF;
    opacity: 0.4;
    border-radius: 3px;
}
/*----------------REVIEWS---------------*/

/*----------------ABOUT---------------*/
.about{
    text-align: center;
}

.about__item{
    display: flex;
    padding: 0 125px;
    gap: 84px;

    margin-bottom: 100px;
}
.about__item:nth-child(2n+1){
    flex-direction: row-reverse;
}

.item_about__about{
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 0 1 50%;
   /* padding-right: 84px;*/
}
.item_about__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: left;

    margin-bottom: 30px;
}
.item_about__text{
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: start;

    margin-bottom: 20px;
}
.item_about__text:last-child{
    margin-bottom: 0;
}
.item_about__img{
    padding-bottom: 35%;
    flex: 0 1 50%;
}
.item_about__img > img{
    border-radius: 12px;
}
/*----------------ABOUT---------------*/


/*----------------PRICES---------------*/
.prices{
    text-align: center;
}

.prices__item{
    display: flex;
    gap: 134px;

    padding: 0 125px;
}
.prices__img{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.prices__img > img{
    border-radius: 12px;
    width: 100%;
    height: auto;
    display: inline-block;
}
figcaption.prices__cap{
    font-weight: 700;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    position: relative;

    margin: 0 auto;
}

.prices__prices{
    display: flex;
    gap: 100px;
    flex: 0 1 50%;
    align-items: center;
}
.prices__name > .prices__list{
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: left;

    margin-bottom: 31px;
}
.prices__name > .prices__list:last-child{
    margin-bottom: 0;
}

.prices__cost > .prices__list{
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: left;

    margin-bottom: 31px;
}
.prices__cost > .prices__list:last-child{
    margin-bottom: 0;
}

.prices__name > .prices__list{
    background: url(icon/prices/left.png)no-repeat left center;
    padding-left: 38px;
}
/*----------------PRICES---------------*/

/*----------------PLACES--------------*/
.position__items{
    display: flex;
    gap: 48px;
}
.position__map{
    flex: 0 1 66.667%;
    
}
.position__map > img{
    border-radius: 10px;
}
.position__places{
    flex: 0 1 33.333%;

    display: flex;
    flex-direction: column;
    gap: 24px;
}
.places__item{
    padding: 35px 45px;

    background: #018ABE;
    border-radius: 10px;
}
h4.places__item_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;

    margin-bottom: 21px;
}
.places__item_adress,
.places__item_metro,
.places__item_reserv{
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
    margin-bottom: 21px;
    padding-left: 40px;
}
.places__item_adress{
    background: url(icon/position/1.png)no-repeat left center;
}
.places__item_metro{
    background: url(icon/position/2.png)no-repeat left center;
}
.places__item_reserv{
    margin-bottom: 30px;
    background: url(icon/position/3.png)no-repeat left center;
}
.places__item_btn{
    background: #FFFFFF;
    color: #018ABE;
}
/*----------------PLACES---------------*/


/*----------------FOOTER---------------*/
.footer__wrap{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.footer__date{
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
}
.footer__creator{
    font-weight: 700;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
}
section:last-of-type{
    margin-bottom: 60px;
}

/*----------------FOOTER---------------*/